#home {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Ajustar la altura al 100% del viewport */
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url(/assets/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.titulo {
    font-size: 70px;
}


